
<div class="display-2">
  <h1>Manage Employee Certifications</h1>
    </div>

<div class= "Managecert">
  <h3> ADD Certificate </h3>
    <form id="add_people_certificates" action="/people_certs" method="post">
    Employee: <select name='pid'>
        {{#each people}}
          <option value='{{pid}}'>{{fname}} {{lname}}</option>
        {{/each}}
    </select>
    <br>
    <div class="">
    Certifications: 
      <div class="col-sm-10">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
          <label class="form-check-label" for="gridRadios1">
            Cert 1
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
          <label class="form-check-label" for="gridRadios2">
            Cert 2
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
          <label class="form-check-label" for="gridRadios2">
            Cert 3
          </label>
        </div>
      </div>
    </div>
    <input class="btn btn-info" type="submit" value="Submit">
    </form>
</div>

<br/>

<h3> Certitifcation List </h3>
<table>
    <thead> 
        <th>Name</th> 
        <th>Certificate</th> 
    </thead> 
    <tbody> 
        {{#each people_with_certs}} 
        <tr> 
            <td>{{name}}</td> 
            <td>{{certificate}}</td> 
            <td><button type= "button" onclick="deletePeopleCert({{pid}},{{cid}})">Delete</button></td>
            <td><a href='#' onclick='javascript: alert("You can implement it just like the Add form.")'>Update</a></td>
        </tr>

        {{else}}
        <b> No people with any certifications found! Add certs using the form. </b>
        {{/each}} 
          <tr>
          <td>Pierre Saladino</td>
          <td>NULL</td>
          <td><button type="button" class="btn btn-danger">Delete</button></td>
   </tr> 
   </tbody>
</table> 
<button type="button" class="btn btn-success">Refresh</button>